<html>
    <head>
        <title>Popping circles</title>
        <link rel="stylesheet" type="text/css" href="/styles/game-style.css">
    </head>
    <body>
        <div class="stopwatch-block primary-color">
            <div class="stopwatch">00:00:00</div>
        </div>
        <div class="game-main-frame primary-color box-shadow">
            <div class="selector-block">
                <div class="label-ball-selector">How many balls you want to pop: </div>
                <div>
                    <select name="balls-selector" id="balls-selector">
                        <option value="" disabled selected>Select an option</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                    </select>
                </div>
            </div>     
            <div class="mode-block">
                <div>Choose the mode: </div>
                <div class="mode-options">
                    <div><button id="button-remove-all-colors">Remove all the colors</button></div>
                    <div><button id="button-remove-one-color">Remove just one color</button></div>
                </div>
            </div> 
            <div class="play-button">Play</div>
        </div>
        <div class="game-board">

        </div>
        <script src="/game-scripts/game.js"></script>
    </body>
</html>